<nav class="y10-nav">
  <a href="/year-10-digital-tech/">Overview</a>
  <a href="/year-10-digital-tech/assessments/">Assessments</a>
  <a href="/year-10-digital-tech/assessment-calendar">Assessment Calendar</a>
  <a href="/year-10-digital-tech/scope-sequence">Scope and Sequence</a>
  <a href="/year-10-digital-tech/curriculum-codes">Curriculum Codes</a>
</nav>
